@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 0, 0;
  --background-end-rgb: 255, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background: rgb(57,53,122);
    background: linear-gradient(90deg, rgba(57,53,122,1) 0%, rgba(9,36,121,1) 23%, rgba(0,212,255,1) 100%);

}
@media screen and (max-width:480px) {
  body{
    background-color: black;
    background: linear-gradient(90deg, rgb(57,53,122,1) 100%, rgb(0,212,255,1) 100%, rgb(0,212,255,1) 100%);
  }
}
